@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');

$--main-color:#4834d4;
$--red:#e74c3c;
$--orange:#f39c12;
$--black:#34495e;
$--white:#fff;
$--light-bg:#f5f5f5;
$--light-color:#999;
$border:0.2rem solid $--black;
$box-shadow:0 0.5rem 1rem rgba(0,0,0,0.1);

*{
    font-family: 'Montserrat', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}

*::selection{
    color: $--white;
    background-color: $--main-color;
}

::-webkit-scrollbar{
    width: 1rem;
    height: 0.5rem;
}

::-webkit-scrollbar-track{
    background-color: none;
}

::-webkit-scrollbar-thumb{
    background-color: $--main-color;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background-color: $--light-bg;
}

section{
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

.btn,.delete-btn,.option-btn{
    display: block;
    margin-top: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    width: 100%;
    font-size: 1.8rem;
    color: $--white;
    padding: 1.2rem 3rem;
    text-align: center;
}

.btn{
    background-color: $--main-color;

    &:hover{
        background-color: $--black;
    }
}

.delete-btn{
    background-color: $--red;

    &:hover{
        background-color: $--black;
    }
}

.option-btn{
    background-color: $--orange;

    &:hover{
        background-color: $--black;
    }
}

.flex-btn{
    display: flex;
    gap: 1rem;
}

.message{
    position: sticky;
    top: 0;
    max-width: 1200px;
    margin: 0 auto;
    background-color: $--light-bg;
    padding: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;

    span{
        font-size: 2rem;
        color: $--black;
    }

    i{
        font-size: 2.5rem;
        color: $--red;
        cursor: pointer;

        &:hover{
            color: $--black;
        }
    }
}

.heading{
    text-align: center;
    margin-bottom: 2rem;
    color: $--black;
    font-size: 3rem;
}

.empty{
    border: $border;
    border-radius: 0.5rem;
    background-color: $--white;
    padding: 1.5rem;
    text-align: center;
    width: 100%;
    font-size: 2rem;
    color: $--red;
    box-shadow: $box-shadow;
}

.form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    form{
        background-color: $--white;
        border-radius: 0.5rem;
        border: $border;
        box-shadow: $box-shadow;
        padding: 2rem;
        text-align: left;
        width: 50rem;

        h1{
            font-size: 3.2rem;
            color: $--black;
            margin-bottom: 2.4rem;
            text-align: center;
        }

        .link{
            font-weight: 400;
            font-size: 2rem;
            color: initial;
            margin-bottom: 1.5rem;
        }

        .input-box{
            label{
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 2rem;
                color: rgb(26, 26, 26);
            }
        }

        p{
            margin: 1rem 0;
            font-size: 2rem;
            color: $--light-color;

            span{
                color: $--main-color;
            }
        }

        .box{
            width: 100%;
            background-color: $--light-bg;
            padding: 1.4rem;
            font-size: 1.4rem;
            color: $--black;
            margin: 1rem 0;
            border: $border;
            font-size: 1.8rem;
            border-radius: 0.5rem;
        }
    }
}

.header{
    position: sticky;
    top: 0; left: 0; right:0;
    background-color: $--white;
    box-shadow: $box-shadow;
    z-index: 1000;
    border-bottom: $border;

    .flex{
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        .logo{
            font-size: 2.5rem;
            color: $--black;

            span{
                color: $--main-color;
            }
        }

        .navbar{
            a{
                margin: 0 1rem;
                font-size: 2rem;
                color: $--light-color;

                &:hover{
                    color: $--main-color;
                }
            }
        }

        .icons > *{
            font-size: 2.5rem;
            cursor: pointer;
            color: $--light-color;
            margin-left: 1.7rem;

            &:hover{
                color: $--main-color;
            }
        }

        .profile{
            position: absolute;
            top: 125%; right: 2rem;
            background-color: $--white;
            box-shadow: $box-shadow;
            border: $border;
            border-radius: 0.5rem;
            padding: 2rem;
            padding-top: 1rem;
            width: 30rem;
            display: none;
            animation: fadeIn 0.2s linear;

            p{
                margin-bottom: 1rem;
                font-size: 2rem;
                text-align: center;
                color: $--black;
            }

            &.active{
                display: inline-block;
            }
        }
    }
}

@keyframes fadeIn {
    0%{
        transform: translateY(1rem);
    }
}

#menu-btn {
    display: none;
}

.dashboard{
    .box-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
        gap: 1.5rem;
        align-items: flex-start;

        .box{
            text-align: center;
            background-color: $--white;
            border: $border;
            box-shadow: $box-shadow;
            border-radius: 0.5rem;
            text-align: center;
            padding: 1.5rem;

            h3{
                font-size: 2.7rem;
                color: $--black;

                span{
                    font-size: 2rem;
                }
            }

            p{
                padding: 1.5rem;
                border-radius: 0.5rem;
                background-color: $--light-bg;
                font-size: 1.8rem;
                border: $border;
                margin: 1rem 0;
                color: $--light-color;
            }
        }
    }
}

.add-products{
    form{
        margin: 0 auto;
        max-width: 50rem;
        background-color: $--white;
        border-radius: 0.5rem;
        box-shadow: $box-shadow;
        border: $border;
        padding: 2rem;
        text-align: center;

        h3{
            margin-bottom: 1rem;
            font-size: 2.5rem;
            color: $--black;
        }

        .box{
            background-color: $--light-bg;
            border: $border;
            width: 100%;
            padding: 1.4rem;
            font-size: 1.8rem;
            color: $--black;
            border-radius: 0.5rem;
            margin: 1rem 0;
        }
    }
}

.show-products{
    .box-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, 33rem);
        gap: 1.5rem;
        justify-content: center;
        align-items: flex-start;

        .box{
            background-color: $--white;
            border-radius: 0.5rem;
            box-shadow: $box-shadow;
            border: $border;
            padding: 1.5rem;

            img{
                width: 100%;
                height: 20rem;
                object-fit: contain;
                margin-bottom: 1rem;
            }

            .name{
                font-size: 2rem;
                color: $--black;
                padding: 1rem 0;
            }

            .flex{
                display: flex;
                align-items: center;
                gap: 1rem;
                justify-content: space-between;

                .category{
                    font-size: 1.8rem;
                    color: $--main-color;
                }

                .price{
                    font-size: 2rem;
                    color: $--black;
                    margin: 0.5rem 0;

                    span{
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
}

.update-product{
    margin: 0 auto;
    max-width: 50rem;
    background-color: $--white;
    border-radius: 0.5rem;
    box-shadow: $box-shadow;
    border: $border;
    padding: 2rem;

    form{
        img{
            height: 25rem;
            width: 100%;
            object-fit: contain;
        }

        .box{
            background-color: $--light-bg;
            border: $border;
            width: 100%;
            padding: 1.4rem;
            font-size: 1.8rem;
            color: $--black;
            border-radius: 0.5rem;
            margin: 1rem 0;
        }

        textarea{
            height: 15rem;
            resize: none;
        }

        span{
            font-size: 1.7rem;
            color: $--black;
        }
    }
}

.placed-orders{
    display: grid;
    grid-template-columns: repeat(auto-fit, 33rem);
    gap: 1.5rem;
    justify-content: center;
    align-items: flex-start;

    .box-container{
        .box{
            background-color: $--white;
            border-radius: 0.5rem;
            box-shadow: $box-shadow;
            border: $border;
            padding: 2rem;
            padding-top: 1rem;

            p{
                padding: 0.5rem 0;
                line-height: 1.5;
                font-size: 1.8rem;
                color: $--black;

                span{
                    color: $--main-color;
                }
            }

            .drop-down{
                width: 100%;
                margin: 1rem 0;
                background-color: $--light-bg;
                padding: 1rem 1.4rem;
                font-size: 2rem;
                color: $--black;
                border: $border;
                border-radius: 0.5rem;
            }
        }
    }
}

.accounts{
    .box-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, 33rem);
        gap: 1.5rem;
        justify-content: center;
        align-items: flex-start;

        .box{
            background-color: $--white;
            border-radius: 0.5rem;
            box-shadow: $box-shadow;
            border: $border;
            padding: 2rem;
            padding-top: 1rem;
            text-align: center;
        }
    }
}