@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap");
* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  outline: none;
}

*::-moz-selection {
  color: #fff;
  background-color: #4834d4;
}

*::selection {
  color: #fff;
  background-color: #4834d4;
}

::-webkit-scrollbar {
  width: 1rem;
  height: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: none;
}

::-webkit-scrollbar-thumb {
  background-color: #4834d4;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background-color: #f5f5f5;
}

section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.btn, .delete-btn, .option-btn {
  display: block;
  margin-top: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  width: 100%;
  font-size: 1.8rem;
  color: #fff;
  padding: 1.2rem 3rem;
  text-align: center;
}

.btn {
  background-color: #4834d4;
}

.btn:hover {
  background-color: #34495e;
}

.delete-btn {
  background-color: #e74c3c;
}

.delete-btn:hover {
  background-color: #34495e;
}

.option-btn {
  background-color: #f39c12;
}

.option-btn:hover {
  background-color: #34495e;
}

.flex-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.message {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #f5f5f5;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.message span {
  font-size: 2rem;
  color: #34495e;
}

.message i {
  font-size: 2.5rem;
  color: #e74c3c;
  cursor: pointer;
}

.message i:hover {
  color: #34495e;
}

.heading {
  text-align: center;
  margin-bottom: 2rem;
  color: #34495e;
  font-size: 3rem;
}

.empty {
  border: 0.2rem solid #34495e;
  border-radius: 0.5rem;
  background-color: #fff;
  padding: 1.5rem;
  text-align: center;
  width: 100%;
  font-size: 2rem;
  color: #e74c3c;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
}

.form-container form {
  background-color: #fff;
  border-radius: 0.5rem;
  border: 0.2rem solid #34495e;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 2rem;
  text-align: left;
  width: 50rem;
}

.form-container form h1 {
  font-size: 3.2rem;
  color: #34495e;
  margin-bottom: 2.4rem;
  text-align: center;
}

.form-container form .link {
  font-weight: 400;
  font-size: 2rem;
  color: initial;
  margin-bottom: 1.5rem;
}

.form-container form .input-box label {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
  color: #1a1a1a;
}

.form-container form p {
  margin: 1rem 0;
  font-size: 2rem;
  color: #999;
}

.form-container form p span {
  color: #4834d4;
}

.form-container form .box {
  width: 100%;
  background-color: #f5f5f5;
  padding: 1.4rem;
  font-size: 1.4rem;
  color: #34495e;
  margin: 1rem 0;
  border: 0.2rem solid #34495e;
  font-size: 1.8rem;
  border-radius: 0.5rem;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border-bottom: 0.2rem solid #34495e;
}

.header .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.header .flex .logo {
  font-size: 2.5rem;
  color: #34495e;
}

.header .flex .logo span {
  color: #4834d4;
}

.header .flex .navbar a {
  margin: 0 1rem;
  font-size: 2rem;
  color: #999;
}

.header .flex .navbar a:hover {
  color: #4834d4;
}

.header .flex .icons > * {
  font-size: 2.5rem;
  cursor: pointer;
  color: #999;
  margin-left: 1.7rem;
}

.header .flex .icons > *:hover {
  color: #4834d4;
}

.header .flex .profile {
  position: absolute;
  top: 125%;
  right: 2rem;
  background-color: #fff;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: 0.2rem solid #34495e;
  border-radius: 0.5rem;
  padding: 2rem;
  padding-top: 1rem;
  width: 30rem;
  display: none;
  -webkit-animation: fadeIn 0.2s linear;
          animation: fadeIn 0.2s linear;
}

.header .flex .profile p {
  margin-bottom: 1rem;
  font-size: 2rem;
  text-align: center;
  color: #34495e;
}

.header .flex .profile.active {
  display: inline-block;
}

@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
  }
}

@keyframes fadeIn {
  0% {
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
  }
}

#menu-btn {
  display: none;
}

.dashboard .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(27rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 1.5rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.dashboard .box-container .box {
  text-align: center;
  background-color: #fff;
  border: 0.2rem solid #34495e;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  text-align: center;
  padding: 1.5rem;
}

.dashboard .box-container .box h3 {
  font-size: 2.7rem;
  color: #34495e;
}

.dashboard .box-container .box h3 span {
  font-size: 2rem;
}

.dashboard .box-container .box p {
  padding: 1.5rem;
  border-radius: 0.5rem;
  background-color: #f5f5f5;
  font-size: 1.8rem;
  border: 0.2rem solid #34495e;
  margin: 1rem 0;
  color: #999;
}

.add-products form {
  margin: 0 auto;
  max-width: 50rem;
  background-color: #fff;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: 0.2rem solid #34495e;
  padding: 2rem;
  text-align: center;
}

.add-products form h3 {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  color: #34495e;
}

.add-products form .box {
  background-color: #f5f5f5;
  border: 0.2rem solid #34495e;
  width: 100%;
  padding: 1.4rem;
  font-size: 1.8rem;
  color: #34495e;
  border-radius: 0.5rem;
  margin: 1rem 0;
}

.show-products .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (33rem)[auto-fit];
      grid-template-columns: repeat(auto-fit, 33rem);
  gap: 1.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.show-products .box-container .box {
  background-color: #fff;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: 0.2rem solid #34495e;
  padding: 1.5rem;
}

.show-products .box-container .box img {
  width: 100%;
  height: 20rem;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 1rem;
}

.show-products .box-container .box .name {
  font-size: 2rem;
  color: #34495e;
  padding: 1rem 0;
}

.show-products .box-container .box .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.show-products .box-container .box .flex .category {
  font-size: 1.8rem;
  color: #4834d4;
}

.show-products .box-container .box .flex .price {
  font-size: 2rem;
  color: #34495e;
  margin: 0.5rem 0;
}

.show-products .box-container .box .flex .price span {
  font-size: 1.5rem;
}

.update-product {
  margin: 0 auto;
  max-width: 50rem;
  background-color: #fff;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: 0.2rem solid #34495e;
  padding: 2rem;
}

.update-product form img {
  height: 25rem;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.update-product form .box {
  background-color: #f5f5f5;
  border: 0.2rem solid #34495e;
  width: 100%;
  padding: 1.4rem;
  font-size: 1.8rem;
  color: #34495e;
  border-radius: 0.5rem;
  margin: 1rem 0;
}

.update-product form textarea {
  height: 15rem;
  resize: none;
}

.update-product form span {
  font-size: 1.7rem;
  color: #34495e;
}

.placed-orders {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (33rem)[auto-fit];
      grid-template-columns: repeat(auto-fit, 33rem);
  gap: 1.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.placed-orders .box-container .box {
  background-color: #fff;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: 0.2rem solid #34495e;
  padding: 2rem;
  padding-top: 1rem;
}

.placed-orders .box-container .box p {
  padding: 0.5rem 0;
  line-height: 1.5;
  font-size: 1.8rem;
  color: #34495e;
}

.placed-orders .box-container .box p span {
  color: #4834d4;
}

.placed-orders .box-container .box .drop-down {
  width: 100%;
  margin: 1rem 0;
  background-color: #f5f5f5;
  padding: 1rem 1.4rem;
  font-size: 2rem;
  color: #34495e;
  border: 0.2rem solid #34495e;
  border-radius: 0.5rem;
}

.accounts .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (33rem)[auto-fit];
      grid-template-columns: repeat(auto-fit, 33rem);
  gap: 1.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.accounts .box-container .box {
  background-color: #fff;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: 0.2rem solid #34495e;
  padding: 2rem;
  padding-top: 1rem;
  text-align: center;
}
/*# sourceMappingURL=estilo.css.map */